.container{
    padding: 0 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}
.container>img{
    position: absolute;
    width: 8rem;
    left: 30%;
    top: -3rem;
}
.Products{
    display: grid;
    grid-template-columns: 25% auto;
    width: 90%;
}
.menu{
    font-weight: 500;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}
.menu>li:hover{
    cursor: pointer;
    color: var(--pink);
}

.list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    height: 25rem;
    overflow-y: scroll;
    justify-content: space-between;
    grid-gap:2rem;
}
.products>img{
    top: 3rem;
    width: 6rem;
    height: 11rem;
}
.products{
    width: 12rem;
    height: 8rem;
    position: relative;
    background-color: white;
    overflow: hidden;
    border-radius: 0.5rem;
    display: flex;
    padding: 1rem;
}
@media screen  and (max-width:856px){
    .container{
        gap: 1rem;
    }
    .container>:nth-child(1){
        display: none;
    }
    .products{
        grid-template-columns: none;
        gap: 10rem;
    }
    .menu{
        flex-direction: row;
    }
}