.cfooterwrapper{
    /* display: flex;
    flex-direction: row; */
    width: 100%;
    margin-top: 5rem;
}
.cfooterwrapper>hr{
    height: 1px;
    border: none;
    background: white;
    width: 100%;
    margin-top: 1rem;
}
.cfooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.logo{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
}
.logo>img{
    width: 2.5rem;
    height: 2.5rem;
}
.logo>span{
    font-weight: 600;
    font-size: 1rem;
}
.block{
    display: flex;
    flex-direction: column;
    max-width: 12rem;
    gap: 1rem;
}
.detail{
    display: flex;
    flex-direction: column;
    width: inherit;
    font-size: 0.7rem;
    gap: 1rem;
    font-style: italic;
}
.detail>span:nth-child(1){
    font-weight: 500;
    font-size: 1.2rem;
    font-style: normal;
}
.pngline:hover{
    cursor: pointer;
}
.pngline{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.icon{
    width: 25px;
    size: 50px;
    font-size: xx-large;
}
.copyRight{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-size: .65rem;
    margin-top: 2rem;
}